@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.6);
  }
}

.card {
  font-family: "Lobster Two", sans-serif;
  text-align: center;
  padding: 0 40px;
  background-color: #ffffff;
}

.card__border {
  border: 15px solid #ccccff;
  background-color: #ffc3d9;
  margin: 50px auto;
  max-width: 600px;
  outline: 3px solid black;
}

.card__happy-text {
  margin: 40px auto 20px;
  font-size: 4rem;
}

.card__heart-container {
  display: flex;
}

.heart {
  width: 250px;
  margin: 0 auto;
  animation: pulse 1.5s linear 0s infinite;
}

.card__valentines-text {
  -webkit-text-stroke: 1px black;
  color: white;
  font-family: "Alfa Slab One", serif;
  margin: 20px auto 0;
  font-size: 4rem;
}

.card__day-text {
  margin: 20px auto 40px;
  font-size: 4rem;
}
